<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisar" slot="start"></ion-searchbar> 
    <ion-icon name="bag-outline" slot="end" (click)="goToCarrinho()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  
  <h2 class="categoria">Categorias</h2>

  <ion-list>

    <ion-item button detail="true" (click)="setOpen(true)">
      <ion-label>
        <h3>Quadros animações / desenhos</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon (click)="setOpen(false)" class="voltar" name="arrow-back-circle-outline"></ion-icon>

            <h2 id="modalCat">Quadros de Animações / Desenhos</h2>

            <ion-grid>
              <ion-row>
                <div class="imagem-container" id="modalcat1">
                  <img src="./../../assets/quadros/animacao-desenho2.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro One Piece</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$20,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat1" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/animacao-desenho2.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro One Piece</h2>
                          <p id="pmodal">R$20,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat2">
                  <img src="./../../assets/quadros/animacao-desenho1.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Pokémon</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat2" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/animacao-desenho1.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Pokémon</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat3">
                  <img src="./../../assets/quadros/animacao-desenho3.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Incrível Mundo de Gumball</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat3" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/animacao-desenho3.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Incrível Mundo de Gumball</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat4">
                  <img src="./../../assets/quadros/animacao-desenho4.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Steven Universo</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat4" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/animacao-desenho4.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Steven Universo</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat5">
                  <img src="./../../assets/quadros/animacao-desenho5.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Mickey Mouse</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat5" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/animacao-desenho5.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Mickey Mouse</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

              </ion-row>
            </ion-grid>

          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item button detail="true" (click)="setOpen1(true)">
      <ion-label>
        <h3>Quadros filmes / séries</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen1">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon (click)="setOpen1(false)" class="voltar" name="arrow-back-circle-outline"></ion-icon>

            <h2 id="modalCat">Quadros de Filmes / Séries</h2>

            <ion-grid>
              <ion-row>
                <div class="imagem-container" id="modalcat1">
                  <img src="./../../assets/quadros/filme-serie3.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Jurassic World</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$20,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat1" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/filme-serie3.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Jurassic World</h2>
                          <p id="pmodal">R$20,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat2">
                  <img src="./../../assets/quadros/filme-serie1.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Star Wars</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat2" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/filme-serie1.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Star Wars</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat3">
                  <img src="./../../assets/quadros/filme-serie2.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Harry Potter</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat3" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/filme-serie2.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Harry Potter</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat4">
                  <img src="./../../assets/quadros/filme-serie4.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro The Walking Dead</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat4" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/filme-serie4.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro The Walking Dead</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat5">
                  <img src="./../../assets/quadros/filme-serie5.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Breaking Bad</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat5" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/filme-serie5.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Breaking Bad</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

              </ion-row>
            </ion-grid>
            
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item button detail="true" (click)="setOpen2(true)">
      <ion-label>
        <h3>Quadros bebidas</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen2">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon (click)="setOpen2(false)" class="voltar" name="arrow-back-circle-outline"></ion-icon>

            <h2 id="modalCat">Quadros de Bebidas</h2>

            <ion-grid>
              <ion-row>
                <div class="imagem-container" id="modalcat1">
                  <img src="./../../assets/quadros/bebida2.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Bebida Cerveja Posto</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$20,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat1" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/bebida2.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Bebida Cerveja Posto</h2>
                          <p id="pmodal">R$20,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat2">
                  <img src="./../../assets/quadros/bebida1.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Bebida Cerveja</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat2" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/bebida1.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Bebida Cerveja</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat3">
                  <img src="./../../assets/quadros/bebida3.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Coca-Cola</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat3" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/bebida3.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Coca-Cola</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat4">
                  <img src="./../../assets/quadros/bebida4.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Café</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat4" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/bebida4.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Café</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat5">
                  <img src="./../../assets/quadros/bebida5.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Bebidas</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat5" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/bebida5.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Bebidas</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

              </ion-row>
            </ion-grid>
            
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item button detail="true" (click)="setOpen3(true)">
      <ion-label>
        <h3>Quadros churrasco</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen3">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon (click)="setOpen3(false)" class="voltar" name="arrow-back-circle-outline"></ion-icon>

            <h2 id="modalCat">Quadros de Churrasco</h2>

            <ion-grid>
              <ion-row>
                <div class="imagem-container" id="modalcat1">
                  <img src="./../../assets/quadros/churrasco2.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Cantinho do Churrasco</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$20,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat1" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/churrasco2.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Cantinho do Churrasco</h2>
                          <p id="pmodal">R$20,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat2">
                  <img src="./../../assets/quadros/churrasco1.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Manual do Churrasco</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat2" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/churrasco1.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Manual do Churrasco</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat3">
                  <img src="./../../assets/quadros/churrasco3.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Churrasco</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$25,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat3" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/churrasco3.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Churrasco</h2>
                          <p id="pmodal">R$25,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat4">
                  <img src="./../../assets/quadros/churrasco4.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Churrasco</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat4" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/churrasco4.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Churrasco</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

                <div class="imagem-container" id="modalcat5">
                  <img src="./../../assets/quadros/churrasco5.png" class="imagem-coluna">
                  
                  <div class="imagem-pequena">
          
                    <img src="./../../assets/quadros/image2.png">
                    <img class="transparente" src="./../../assets/quadros/image.png">
                    <p class="nome-quadro">Quadro Churrasco e Bebida</p>
                    
                    <div class="valor-seta">
                      <p class="valor">R$30,00</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal trigger="modalcat5" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img src="./../../assets/quadros/churrasco5.png" class="imagem-coluna">
                          </div>
          
                          <h2 id="h2modal">Quadro Churrasco e Bebida</h2>
                          <p id="pmodal">R$30,00</p>
                          <ion-note>Incluso todos os impostos</ion-note>
                          
                          <div class="divisor"></div>
          
                          <ion-button id="buttonmodal">Adicionar ao carrinho</ion-button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>

              </ion-row>
            </ion-grid>
            
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>

  
</ion-content>
