<ion-content [fullscreen]="true">

  <h1>FAZER LOGIN</h1>

  <div class="form">

    <ion-input class="input" label="E-mail" type="email" labelPlacement="floating" fill="outline" placeholder="Digite seu e-mail"></ion-input>
    
    <ion-input class="input" label="Senha" type="password" labelPlacement="floating" fill="outline" placeholder="Digite sua senha"></ion-input>

    <ion-button expand="block">Login</ion-button>
  </div>

  <div class="divisor"></div>
  
  <div class="register-link">
    <p>Não tem uma conta? <a [routerLink]="['/tabcadastro']">Registrar-se</a></p>
  </div>

</ion-content>
