<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1" (click)="selectTab('tab1')" [class.selected]="selectedTab === 'tab1'">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="selectTab('tab2')" [class.selected]="selectedTab === 'tab2'">
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="selectTab('tab3')" [class.selected]="selectedTab === 'tab3'">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
