ion-tab-button {
    position: relative;
}


ion-tab-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 4px;
    transition: background-color 0.25s ease;
}

ion-tab-button.selected::after {
    background-color: blue;
}

ion-tab-button ion-icon {
    color: rgb(32, 32, 32);
    transition: color 0.3s ease;
}

ion-tab-button.selected ion-icon {
    color: rgb(9, 9, 203);
}
