<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisar" slot="start"></ion-searchbar>
    <ion-icon name="bag-outline" slot="end" (click)="goToCarrinho()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="categoria">Categorias</h2>

  <ion-list>
    <ion-item button detail="true" (click)="setOpen(true)">
      <ion-label>
        <h3>Quadros animações / desenhos</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon
              (click)="setOpen(false)"
              class="voltar"
              name="arrow-back-circle-outline"
            ></ion-icon>

            <h2 id="modalCat">Quadros de Animações / Desenhos</h2>

            <ion-grid>
              <ion-row>
                <div
                  class="imagem-container"
                  *ngFor="let quadro of quadros_animacoes_desenho; let i = index"
                  id="{{uniqueModalId(quadro, i)}}"
                >
                  <img src="{{quadro.imagem}}" class="imagem-coluna" />

                  <div class="imagem-pequena">
                    <img src="./../../assets/quadros/image2.png" />
                    <img
                      class="transparente"
                      src="./../../assets/quadros/image.png"
                    />
                    <p class="nome-quadro">Quadro {{quadro.titulo}}</p>

                    <div class="valor-seta">
                      <p class="valor">{{ quadro.preco | currency:'BRL' }}</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal
                    trigger="{{uniqueModalId(quadro, i)}}"
                    [initialBreakpoint]="0.65"
                    [breakpoints]="[0, 0.65]"
                  >
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img
                              src="{{quadro.imagem}}"
                              class="imagem-coluna"
                            />
                          </div>

                          <h2 id="h2modal">Quadro {{quadro.titulo}}</h2>
                          <p id="pmodal">{{ quadro.preco | currency:'BRL' }}</p>
                          <ion-note>Incluso todos os impostos</ion-note>

                          <div class="divisor"></div>

                          <ion-button
                            id="buttonmodal"
                            (click)="addQuadro(quadro)"
                            >Adicionar ao carrinho</ion-button
                          >
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item button detail="true" (click)="setOpen1(true)">
      <ion-label>
        <h3>Quadros filmes / séries</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen1">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon
              (click)="setOpen1(false)"
              class="voltar"
              name="arrow-back-circle-outline"
            ></ion-icon>

            <h2 id="modalCat">Quadros de Filmes / Séries</h2>

            <ion-grid>
              <ion-row>
                <div
                  class="imagem-container"
                  *ngFor="let quadro of quadros_filmes_series; let i = index"
                  id="{{uniqueModalId(quadro, i)}}"
                >
                  <img src="{{quadro.imagem}}" class="imagem-coluna" />

                  <div class="imagem-pequena">
                    <img src="./../../assets/quadros/image2.png" />
                    <img
                      class="transparente"
                      src="./../../assets/quadros/image.png"
                    />
                    <p class="nome-quadro">Quadro {{quadro.titulo}}</p>

                    <div class="valor-seta">
                      <p class="valor">{{ quadro.preco | currency:'BRL' }}</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal
                    trigger="{{uniqueModalId(quadro, i)}}"
                    [initialBreakpoint]="0.65"
                    [breakpoints]="[0, 0.65]"
                  >
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img
                              src="{{quadro.imagem}}"
                              class="imagem-coluna"
                            />
                          </div>

                          <h2 id="h2modal">Quadro {{quadro.titulo}}</h2>
                          <p id="pmodal">{{ quadro.preco | currency:'BRL' }}</p>
                          <ion-note>Incluso todos os impostos</ion-note>

                          <div class="divisor"></div>

                          <ion-button
                            id="buttonmodal"
                            (click)="addQuadro(quadro)"
                            >Adicionar ao carrinho</ion-button
                          >
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item button detail="true" (click)="setOpen2(true)">
      <ion-label>
        <h3>Quadros churrasco</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen2">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon
              (click)="setOpen2(false)"
              class="voltar"
              name="arrow-back-circle-outline"
            ></ion-icon>

            <h2 id="modalCat">Quadros de Churrasco</h2>

            <ion-grid>
              <ion-row>
                <div
                  class="imagem-container"
                  *ngFor="let quadro of quadros_churrasco; let i = index"
                  id="{{uniqueModalId(quadro, i)}}"
                >
                  <img src="{{quadro.imagem}}" class="imagem-coluna" />

                  <div class="imagem-pequena">
                    <img src="./../../assets/quadros/image2.png" />
                    <img
                      class="transparente"
                      src="./../../assets/quadros/image.png"
                    />
                    <p class="nome-quadro">Quadro {{quadro.titulo}}</p>

                    <div class="valor-seta">
                      <p class="valor">{{ quadro.preco | currency:'BRL' }}</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal
                    trigger="{{uniqueModalId(quadro, i)}}"
                    [initialBreakpoint]="0.65"
                    [breakpoints]="[0, 0.65]"
                  >
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img
                              src="{{quadro.imagem}}"
                              class="imagem-coluna"
                            />
                          </div>

                          <h2 id="h2modal">Quadro {{quadro.titulo}}</h2>
                          <p id="pmodal">{{ quadro.preco | currency:'BRL' }}</p>
                          <ion-note>Incluso todos os impostos</ion-note>

                          <div class="divisor"></div>

                          <ion-button
                            id="buttonmodal"
                            (click)="addQuadro(quadro)"
                            >Adicionar ao carrinho</ion-button
                          >
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item button detail="true" (click)="setOpen3(true)">
      <ion-label>
        <h3>Quadros bebidas</h3>
      </ion-label>

      <ion-modal [isOpen]="isModalOpen3">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-icon
              (click)="setOpen3(false)"
              class="voltar"
              name="arrow-back-circle-outline"
            ></ion-icon>

            <h2 id="modalCat">Quadros de Bebidas</h2>

            <ion-grid>
              <ion-row>
                <div
                  class="imagem-container"
                  *ngFor="let quadro of quadros_bebidas; let i = index"
                  id="{{uniqueModalId(quadro, i)}}"
                >
                  <img src="{{quadro.imagem}}" class="imagem-coluna" />

                  <div class="imagem-pequena">
                    <img src="./../../assets/quadros/image2.png" />
                    <img
                      class="transparente"
                      src="./../../assets/quadros/image.png"
                    />
                    <p class="nome-quadro">Quadro {{quadro.titulo}}</p>

                    <div class="valor-seta">
                      <p class="valor">{{ quadro.preco | currency:'BRL' }}</p>
                      <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                  </div>

                  <ion-modal
                    trigger="{{uniqueModalId(quadro, i)}}"
                    [initialBreakpoint]="0.65"
                    [breakpoints]="[0, 0.65]"
                  >
                    <ng-template>
                      <ion-content class="ion-padding">
                        <div class="ion-margin-top">
                          <div class="imagem-container" id="modal">
                            <img
                              src="{{quadro.imagem}}"
                              class="imagem-coluna"
                            />
                          </div>

                          <h2 id="h2modal">Quadro {{quadro.titulo}}</h2>
                          <p id="pmodal">{{ quadro.preco | currency:'BRL' }}</p>
                          <ion-note>Incluso todos os impostos</ion-note>

                          <div class="divisor"></div>

                          <ion-button
                            id="buttonmodal"
                            (click)="addQuadro(quadro)"
                            >Adicionar ao carrinho</ion-button
                          >
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>
</ion-content>
