<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisar" slot="start"></ion-searchbar>
    <ion-icon name="bag-outline" slot="end" (click)="goToCarrinho()"></ion-icon>
  </ion-toolbar>
</ion-header>

<!--DIVISÃO-->

<ion-content [fullscreen]="true">
  <!--SLIDES AQUI-->
  <swiper-container scrollbar="true" autoplay="true" speed="550">
    <swiper-slide> <img src="./../../assets/img/slide 1.png" /> </swiper-slide>
    <swiper-slide> <img src="./../../assets/img/slide 2.png" /> </swiper-slide>
    <swiper-slide> <img src="./../../assets/img/slide 3.png" /> </swiper-slide>
  </swiper-container>

  <!--ITENS PARA SEPARAR OS QUADROS-->
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      data-swiper-slide-index="0"
      style="margin-right: 8px"
    >
      <button
        class="outros"
        (click)="selectTab('destaques')"
        [class.ativo]="activeTab === 'destaques'"
      >
        Destaques
      </button>
    </div>

    <div
      class="swiper-slide"
      data-swiper-slide-index="1"
      style="margin-right: 8px"
    >
      <button
        class="outros"
        (click)="selectTab('promocoes')"
        [class.ativo]="activeTab === 'promocoes'"
      >
        Promoções
      </button>
    </div>
  </div>

  <ion-grid *ngIf="activeTab === 'destaques'">
    <ion-row>
      <div
        *ngFor="let quadro of quadrosAleatoriosDestaque; let i = index"
        class="imagem-container"
        id="open-modal-{{i}}"
      >
        <img src="{{quadro.imagem}}" class="imagem-coluna" />

        <div class="imagem-pequena">
          <img src="./../../assets/quadros/image2.png" />
          <img class="transparente" src="./../../assets/quadros/image.png" />
          <p class="nome-quadro">Quadro {{quadro.titulo}}</p>

          <div class="valor-seta">
            <p class="valor">{{ quadro.preco | currency:'BRL' }}</p>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>

        <ion-modal
          trigger="open-modal-{{i}}"
          [initialBreakpoint]="0.65"
          [breakpoints]="[0, 0.65]"
        >
          <ng-template>
            <ion-content class="ion-padding">
              <div class="ion-margin-top">
                <div class="imagem-container" id="modal-{{i}}">
                  <img src="{{quadro.imagem}}" class="imagem-coluna" />
                </div>

                <h2 id="h2modal">Quadro {{quadro.titulo}}</h2>
                <p id="pmodal">{{ quadro.preco | currency:'BRL' }}</p>
                <ion-note>Incluso todos os impostos</ion-note>

                <div class="divisor"></div>

                <ion-button id="buttonmodal" (click)="addQuadro(quadro)">Adicionar ao carrinho</ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-row>
  </ion-grid>
  <!-- ////// -->
  <ion-grid *ngIf="activeTab === 'promocoes'">
    <ion-row>
      <div
        *ngFor="let quadro of quadrosAleatoriosPromocao; let i = index"
        class="imagem-container"
        id="open-modal-{{i}}"
      >
        <img src="{{quadro.imagem}}" class="imagem-coluna" />

        <div class="imagem-pequena">
          <img src="./../../assets/quadros/image2.png" />
          <img class="transparente" src="./../../assets/quadros/image.png" />
          <p class="nome-quadro">Quadro {{quadro.titulo}}</p>

          <div class="valor-seta">
            <p class="valor">{{ quadro.preco | currency:'BRL' }}</p>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>

        <ion-modal
          trigger="open-modal-{{i}}"
          [initialBreakpoint]="0.65"
          [breakpoints]="[0, 0.65]"
        >
          <ng-template>
            <ion-content class="ion-padding">
              <div class="ion-margin-top">
                <div class="imagem-container" id="modal-{{i}}">
                  <img src="{{quadro.imagem}}" class="imagem-coluna" />
                </div>

                <h2 id="h2modal">Quadro {{quadro.titulo}}</h2>
                <p id="pmodal">{{ quadro.preco | currency:'BRL' }}</p>
                <ion-note>Incluso todos os impostos</ion-note>

                <div class="divisor"></div>

                <ion-button id="buttonmodal" (click)="addQuadro(quadro)" >Adicionar ao carrinho</ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
