ion-content {
    --background: rgb(249, 247, 250);
}

ion-searchbar {
    width: 70%;
    --border-radius: 40px;
    margin-left: 5px;
}

ion-icon {
    margin-right: 25px;
    font-size: 26px;
    margin-left: auto;
}

swiper-container {
    margin: 25px auto 0;
    width: 80vw;
    transform: scaleX(1.1);
}


swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

swiper-slide img {
    border-radius: 10px;
}


.swiper-wrapper {
    margin-top: 40px;
    margin-left: 13px;
    display: flex;
}


.outros {
    font-size: 1rem;
    line-height: 1.125rem;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    color: #2c2c2c;
    background-color: transparent;
    padding: 0.5rem 0.5rem;
}

.outros.ativo {
    color: black;
    background-color: #5496ff;
    transition: 0.3s ease;
}

.imagem-container {
    position: relative;
    margin: 15px auto;
    width: 46%;
    height: 60vw;
    border-radius: 12px;
    overflow: hidden;
}

.imagem-coluna {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
  
.imagem-pequena img {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.imagem-pequena img.transparente {
    opacity: 0.8;
}

.imagem-pequena p.nome-quadro {
    color: white;
    bottom: 14px;
    position: absolute;
    left: 5px;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis; /* Exibir '...' quando o texto for cortado */
    white-space: nowrap;
    max-height: 3em;
}

.imagem-pequena .valor-seta {
    display: flex;
    align-items: center;
    color: white;
    bottom: -15px;
    position: absolute;
    left: 7px;
    right: -20px;
}

.divisor {
    width: calc(100% - 40px);
    height: 1.5px;
    background-color: #ccc; 
    margin-top: 35px;
    margin-left: 20px;
}

.imagem-container#modal {
    margin: 15px auto;
    width: 55%;
    height: 55vw;
    border-radius: 12px;
}

h2#h2modal {
    font-size: 1.15rem;
    font-weight: bold;
}

p#pmodal {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

ion-button#buttonmodal {
    display: flex;
    margin-top: 25px;
}