ion-content {
    --background: rgb(249, 247, 250);
}

ion-searchbar {
    width: 70%;
    --border-radius: 40px;
    margin-left: 5px;
}

.carrinho {
    margin-right: 25px;
    font-size: 26px;
    margin-left: auto;
    color: blue;
}

.voltar {
    font-size: 35px;
    color: blue;
    margin-left: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 2.5px;
}

span {
    color: blue;
}


.endereco {
    --background: #3880ff;
    color: white;
    width: 20%;
}

.nome {
    color: black;
}

ion-label {
    overflow: hidden;
    text-overflow: ellipsis; /* Exibir '...' quando o texto for cortado */
    white-space: nowrap;
    max-height: 3em;
}

endereco-nome {
    color: black;
}

.lixeira {
    color: red;
    font-size: 25px;
}

h2.nome {
    font-size: 15px;
    margin-right: 1px;
}

.verde {
    color: #32c921;
}

ion-thumbnail {
    --size: 30%;
    height: 31vw;
    --border-radius: 10px;
}

.pagar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagar ion-button {
    width: 82%;
    --border-radius: 5px;
}
