ion-searchbar {
    width: 70%;
    --border-radius: 40px;
    margin-left: 5px;
}

.carrinho {
    margin-right: 25px;
    font-size: 26px;
    margin-left: auto;
    color: blue;
}

.voltar {
    font-size: 35px;
    color: blue;
    margin-left: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 2.5px;
}

ion-thumbnail {
    height: 9vw;
    width: 15%;
    margin-left: 5px;
}

.pagamentos {
    margin-top: 20px;
}

h4 {
    margin-top: 30px;
    margin-left: 25px;
    font-size: 1.1rem;
}

.endereco {
    width: 9%;
    margin-left: 15px;
}

.pagar {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.pagar ion-button {
    width: 60%;
    --border-radius: 10px;
}

.total {
  margin-top: 25%;
}

.nome {
  color: black;
  font-size: 15px;
}

.pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
}

.icon-pagar {
  font-size: 100px;
  color: green;
}

.texto-pagar {
  margin: 10px auto;
  font-size: 17px;
}

.voltar-pagar {
  margin-top: 20px;
}
