<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisar" slot="start"></ion-searchbar> 
    <ion-icon class="carrinho" name="bag-outline" slot="end"></ion-icon>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <ion-list>

    <ion-grid>
      <ion-row>
        <ion-col size="1"><ion-icon (click)="goBack()" class="voltar" name="arrow-back-circle-outline"></ion-icon></ion-col>
        <ion-col><h3>Formas de Pagamento</h3></ion-col>
      </ion-row>
    </ion-grid>

    <div class="pagamentos">
      <ion-item-divider>
        <ion-thumbnail slot="start">
          <img src="./../../assets/img/cartao1.png">
        </ion-thumbnail>
        <ion-label>
          <p>xxxxxxxxxx</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item-divider>
  
      <ion-item-divider>
        <ion-thumbnail slot="start">
          <img src="./../../assets/img/cartao2.png">
        </ion-thumbnail>
        <ion-label>
          <p>xxxxxxxxxx</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item-divider>
  
      <ion-item-divider>
        <ion-thumbnail slot="start">
          <img src="./../../assets/img/pix.png">
        </ion-thumbnail>
        <ion-label>
          <p>Pix</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item-divider>
  
      <ion-item-divider>
        <ion-thumbnail slot="start">
          <img src="./../../assets/img/cartao3.png">
        </ion-thumbnail>
        <ion-label>
          <p>Google Pay</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item-divider>
    </div>

    <h4>Endereço</h4>

    <ion-item-divider>
      <ion-thumbnail class="endereco" slot="start">
        <img src="./../../assets/img/endereco.png">
      </ion-thumbnail>
      <ion-label>
        <p>Rua xxxxxxx, bloco xx casa xx</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item-divider>


    <div class="pagar">
      <ion-button>Pagar</ion-button>
    </div>
  </ion-list>


</ion-content>
